* {
	box-sizing:border-box;
}
body{
	font-size:16px;
	color:#fff;
	background-color: #98FB98 !important;
	font-family: 'Oxygen Mono', monospace;
	
}
#header-nav{
	background-color: #f6b319 !important;
	border-radius:0;
	border:0;
	margin-top:0;
}
.navbar-brand h1{
	font-family: Monospace;
	color:#557c3e;
	font-size:1.5em;
	text-transform:uppercase;
	text-shadow:1px 1px 1px #222;
	margin-top:0;
	margin-bottom:0;
	line-height: .75;
}
#nav-list {
	margin-top:10px;
}
#nav-list a{
	color:blue;
	text-align: center;
}
#nav-list a:hover{
	background:#E7E7E7;
}
#main-title {
	font-size:2em;
	font-family:Monospace;
	font-weight: bold;
}
.menu-title {
	font-size:1.5em;
	text-align:center;
	font-weight: bold;
}
.row div {
	background-color:lightyellow;
}
.col-xs-12 {
text-align:center;
}